<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/header')%>
    <title>Admin Page</title>
  </head>
  <body>
    <%- include('./parts/navbar')%>
  

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>